.page {
	COLOR: #03A9A3; FONT-WEIGHT: bold;  FONT-SIZE: 0.9em; MARGIN-TOP:6px; MARGIN-BOTTOM:6px; MARGIN-LEFT:2em; FONT-FAMILY: Tahoma, sans-serif 

	
		a {text-decoration: none; COLOR: #03A9A3 }
		a:visited {color: #03A9A3 }
		a:hover {color: #404040}
}

