img {
	filter:alpha(opacity=100); opacity:1}

.titre {
	COLOR: #F2AB02; FONT-WEIGHT: bold;  FONT-SIZE: 1.2em; MARGIN-TOP:6px; MARGIN-BOTTOM:6px; MARGIN-LEFT:2em; FONT-FAMILY: Tahoma, sans-serif }
	
		a {text-decoration: none; COLOR: #f1f1f1 }
		a:visited {color: #FFEEC5 }
		a:hover {color: #C0C0C0}

.narrctr { 
	COLOR: #FFFFFF; FONT-WEIGHT: bold;  FONT-SIZE: 16px; TEXT-Align:left; FONT-FAMILY: Tahoma, sans-serif }

.deboco {
	COLOR: #03C1D7; FONT-WEIGHT: bold;  FONT-SIZE: 1.2em; MARGIN-LEFT:1em; MARGIN-TOP:1em; MARGIN-BOTTOM:0.5em; FONT-FAMILY: Tahoma, sans-serif }
		a {text-decoration: none; COLOR: #E79F87 }
		a:hover {color: #F1F1F1}

.menu2 {
	COLOR: #FFEEC5; FONT-WEIGHT: bold;  FONT-SIZE: 0.82em; MARGIN-LEFT:2em; MARGIN-TOP:0em; MARGIN-BOTTOM:0em; FONT-FAMILY: Tahoma, sans-serif }
	
		a {text-decoration: none; COLOR: #f1f1f1 }
		a:visited {color: #FFEEC5 }
		a:hover {color: #C2C2C4}
		
		
